
.mosquito{
    width: 60px;
    height: 60px;
}

.mosquito1{
    width: 75px;
    height: 75px;
}

.mosquito2{
    width: 90px;
    height: 90px;
}

.mosquito3{
    width: 99px;
    height: 99px;
}

.mosquito4{
    width: 49px;
    height: 49px;
}

.mosquito5{
    width: 106px;
    height: 106px;
}

.lado1{
    transform: scaleX(1);
}

.lado2{
    transform: scaleX(-1);
}

.painel_hp{
    position: absolute;
    width: 190px;
    padding: 10px;
    left: 0;
    bottom: 0px;
    border-top: 1px solid white;
    background-color: white;
    opacity: 0.7;
}

.hp{
    float: left;
}

.contador{
    float: left;
    font-size: 25px;
    font-weight: bold;
}

html{
    cursor:url(imagens/mata_mosca.png) 30 30, auto;
}

body{
    background-image: url(imagens/bg.jpg);
    background-repeat: no-repeat;
}



